#Descrição {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 38%;
    left: 20%;
}

#DescriçaoTexto {
    position: absolute;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.Palavradestacada {
    font-weight: bold;
}
.tamanhoDeFontesDeLista {
    font-size: 20px
}

div {
    border: 2px solid green;
}

#minhafoto {
    float: left;
    padding: 5px;
    background-color: blueviolet;
}

.descriçãoEconteudo {
    height: 330px;
    position: relative;
}

.MeuNome {
    text-align: center;
}

ol li:nth-child(odd) {
    background-color: blue;
}
